###=====================================================================================###
#
# OpenSSH configuration file for Windows 10/11
# - Will work with Linux/OS X as well - but ncat won't be required for SOCKS.
#
# https://www.ssh.com/academy/ssh/config
#  
#  To use a SOCKs Proxy w/Windows:
#  - Install nmap
#  -> Due to a bug in ncat 7.9# you will need to install 7.80 instead.
#  -> You will also need the whole nmap install otherwise you will be missing
#     libraries.
#   https://nmap.org/
#   https://nmap.org/dist
#
#   Installer for 7.8
#   https://nmap.org/dist/nmap-7.80-setup.exe
#
###=====================================================================================###


###=====================================================================================###
###---   Azure VMs
###=====================================================================================###

Host vm01
    HostName vm01.eastus2.cloudapp.azure.com
    User azureadmin
    PasswordAuthentication yes

Host vm02
    HostName vm02.westus2.cloudapp.azure.com
    User azureadmin
    PasswordAuthentication yes


###=====================================================================================###
###---   GCP VMs
###=====================================================================================###




###=====================================================================================###
###---   AWS VMs
###=====================================================================================###



###=====================================================================================###
###---   Local VMs
###=====================================================================================###







###=====================================================================================###
###              Entries using ncat to tunnel through a SOCKS proxy
###=====================================================================================###

Host vm02-socks
    HostName vm02.westus2.cloudapp.azure.com
    ProxyCommand "C:\Program Files (x86)\nmap\ncat.exe" --proxy-type socks5 --proxy proxy-us.intel.com:1080 %h %p
    User azureuser
    PasswordAuthentication no
  

###=====================================================================================###
#                         Common Settings for all SSH targets            
###=====================================================================================###

Host *
  # Effect is to not populate the known_hosts file every time you connect to a new server
  UserKnownHostsFile /dev/null
  # Don't verify that the the key matches a known_host - useful when you rebuild hosts frequently
  StrictHostKeyChecking no
  IdentitiesOnly no
  LogLevel FATAL
  ForwardX11 yes
  ForwardAgent yes
  # Send a null packet every 120s
  ServerAliveInterval 120

